build/
venv/
vlamlab.egg-info/
.idea/
__pycache__/
Evaluate/__pycache__/
Compare/__pycache__/
*.egg-info

# pixi environments
.pixi

# VSLAM-Baselines
VSLAM-Baselines/AnyFeature-VSLAM
VSLAM-Baselines/dso
VSLAM-Baselines/dust3r
VSLAM-Baselines/mono_dataset_code
VSLAM-Baselines/ORB_SLAM2
VSLAM-Baselines/COLMAP/*.bin
VSLAM-Baselines/COLMAP/downsample_rgb_frames.py